# Ignore node_modules directory
node_modules/

# Ignore logs and build output
logs/
build/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore npm debug log
npm-debug.log*

# Ignore yarn debug log
yarn-debug.log*
yarn-error.log*

# Ignore VS Code settings
.vscode/

# Ignore editor-specific files
*.swp
*.swo
*.bak
*~

# Ignore OS-specific files
.DS_Store
Thumbs.db
